<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cmdermini" />
  <package id="cmdermini.portable" />
  <package id="ffmpeg" />
  <package id="golang" />
  <package id="mpv" />
  <package id="mpv.install" />
  <package id="peco" />
  <package id="rapidee" />
  <package id="rlogin" />
  <package id="vcredist2010" />
  <package id="youtube-dl" />
</packages>
